*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.logo{
    color: white;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    transition: 0.4s;
}

@media screen and (max-width: 420px) {
    .logo span{
        display: none;
    }
}

.logo:hover{
    color: rgb(93, 1, 198);
    cursor: pointer;
}

#nav-bar{
    display: flex;
    font-size: 1rem;
}

#nav-bar a{
    margin-right: 1.875rem;
    text-decoration: none;
    color: white;
    transition: 0.6s;
}

#nav-bar a:hover{
    color: rgb(93, 1, 198);
    cursor: pointer;
}

#inicio{
    background: linear-gradient(270deg, rgba(170, 0, 255, 0.25), rgba(0, 26, 255, 0.25)), url("https://raw.githubusercontent.com/PedroSoaresDias/Portfolio-V2/main/public/Image/background.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;
    padding-left: 6rem;
    transition: 0.7s;
}

#inicio h1{
    color: white;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 3px;
    transition: 0.5s;
}

#inicio h1:hover{
    font-size: 2.2rem;
    font-weight: bold;
    cursor: pointer;
}

#inicio h2{
    color: white;
    font-size: 1.8rem;
    font-weight: normal;
    letter-spacing: 3px;
    transition: 0.5s;
}

#inicio h2:hover{
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 1080px){
    #inicio{
        padding-left: 2rem;
    }

    #inicio h1 {
        font-size: 1.4rem;
    }

    #inicio h1:hover{
        font-size: 1.5rem;
    }

    #inicio h2{
        font-size: 1.3rem;
    }

    #inicio h2:hover{
        font-size: 1.4rem;
    }
}

.perfil{
    width: 30rem;
    border-radius: 1.25rem;
    transition: 0.7s;
}

@media screen and (max-width: 765px) {
    .perfil{
        width: 25rem;
    }
}

@media screen and (max-width: 600px){
    .perfil{
        width: 20rem;
    }
}

@media screen and (max-width: 555px) {
    .perfil{
        width: 17rem;
    }
}

@media screen and (max-width: 400px) {
    .perfil{
        width: 13rem;
    }
}

@media screen and (max-width: 330px){
    .perfil{
        width: 11rem;
    }
}

.perfil:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 4px 3px rgb(119, 37, 214);
}

.perfil .img{
    max-width: 100%;
    height: auto;
    border-radius: 1.25rem;
}

.info{
    width: 100%;
    letter-spacing: 3px;
}

.info h3{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    transition: 0.4s;
    
}

.info h4{
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
    transition: 0.6s;
    
}

.info h4:hover{
    color: rgb(0, 94, 255);
    cursor: pointer;
}

.info h3:hover{
    color: rgb(93, 1, 198);
    font-size: 1.7rem;
    cursor: pointer;
}

.info p{
    color: white;
    font-size: 1rem; 
}

/* .grid-skill{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

@media screen and (max-width: 768px){
    .grid-skill{
        grid-template-columns: repeat(2, 1fr);
    }
} */

.descricao{
    color: white;
}

.cartao{
    box-shadow: 0px 0px 5px 3px rgb(176, 176, 176);
    transition: 0.6s;
}

.card-skills{
    width: 18rem;
    box-shadow: 0px 0px 5px 3px rgb(176, 176, 176);
    transition: 0.6s;
}

.card-skills:hover{
    transform: scale(1.035);
    box-shadow: 0px 0px 5px 3px rgb(119, 37, 214);
}

.cartao:hover{
    transform: scale(1.035);
    box-shadow: 0px 0px 5px 3px rgb(119, 37, 214);
}

.svg{
    width: 5.3125rem;
}

.cartao .image {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

#projetos, #sobre{
    background-color: rgb(26, 26, 26);
    padding: 3.125rem;
}

.grid-project{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    max-width: 960px;
}

footer, #conhecimento{
    background-color: rgb(43, 43, 43);
    padding: 3.125rem;
}